<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('/assets/css/global.css') }}">
    <link rel="shortcut icon" href="{{ asset('/assets/img/favicon.svg') }}" type="image/x-icon">
    <title>Connection</title>
</head>
<body>
    <div class=formcontainer>
        <form action="" method="post">
            <h1>Connection</h1>
            <div class="champ">
                <label for="email">Email*</label>
                <input type="email" name="email" id="email" required="">
            </div>
            <div class="champ">
                <label for="password">Mot de passe*</label>
                <input type="password" name="password" id="password" required="">
            </div>
            <input type="submit" name="Envoyer" class="butt-envoyer" value="Submit">
            <p>Vous n'avez pas de compte ? <a href="{{path('app_inscription')}}">Inscrivez-vous</a></p>
        </form>
    </div> 
</body>
</html>