.ajout_rendu{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 5px;
}

#panier{
    display: flex;
    width: 100%;
}

/* Style de la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#closeModal {
    float: right;
    cursor: pointer;
}
