*{
    padding: 0;
    margin: 0;
    text-decoration: none;

    list-style: none;
}
body{
    background-color: #f4f4f4;
    overflow-x: hidden;
}
.nav-ordinateur{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100vw - 40px);
    height: 100px;
    gap: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: red;
}
.nav-ordinateur .Hamburger_icon{
    display: none;
}
.nav-ordinateur .logo{
    display: block;
}
.recherche{
    display: flex;
    min-width: 200px;
    width: 600px;
    height: 16px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
}
.profil{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.profil img{
    width: 50px;
    border-radius: 50%;
}
.profil .utilisateur{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-mobile {
    display: none;
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    top: 0;
    left: -100%; /* Position initiale à gauche de l'écran */
    width: 70vw;
    height: 100vh;
    transition: 300ms ease-in-out;
}
.nav-mobile img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.nav-mobile ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-mobile ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 20px;
    gap: 25px;
    width: calc(100% - 40px);
}
.nav-mobile ul li a img{
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.contenu{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}



.dashboard{
    position: relative;
    width: 260px;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 24px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.dashboard ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.dashboard ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 15px;
    border-radius: 8px;
    transition: 200ms ease-in-out;
}
.dashboard ul li a:hover {
    background-color: darkgray;
}

.bouton-menu-deroulant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 200ms ease-in-out;
}
.rotate180 {
    transform: rotate(180deg);
    transition: 200ms ease-in-out;
}
.dashboard .espaces {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.dashboard .desactive-espaces{
    display: none;
}
.dashboard .espaces .menu-deroulant .ajout{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 15px;
    background-color: darkgray;
    border-radius: 8px;
    border: 0px;
    width: 100%;
}
.dashboard .realistateurs{
    position: absolute;
    bottom: 20px;
    left: 20px;
}


.main-accueil{
    width: calc(100vw - 355px);
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    margin-left: 5px;
}
.main-accueil .jour, .avenir{
    display: flex;
    flex-direction: column;
    height: 45vh;
    padding: 20px;
    gap: 10px;
    border-radius: 15px;
    background-color: white;
}
.main-accueil .jour .nav-rendu, .main-accueil .avenir .nav-rendu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-accueil .jour .nav-rendu h4, .main-accueil .avenir .nav-rendu h4{
    height: 100%;
}
.main-accueil .jour .bouton-control, .main-accueil .avenir .bouton-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main-accueil .jour button, .main-accueil .avenir button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}




@media screen and (max-width: 910px){
    .nav-ordinateur .Hamburger_icon{
        display: block;
    }
    .nav-ordinateur .logo{
        display: none;
    }
    .profil{
        display: none;
    }
    .active-mobile{
        position: absolute;
        top: 0;
        left: 0%;
        background-color: blue;
    }
    .dashboard{
        display: none;
    }
}
